<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="testIntegration" value="test"/>
    <add key="mongoDBServer" value="mongodb://u6lhaxxdxmvb6oezfjpj:FyFO5l14g5ONYaDgKwA8@bvql7grm8ez2eh1-mongodb.services.clever-cloud.com:27017/bvql7grm8ez2eh1"/>
    <add key="mongoBase" value="bvql7grm8ez2eh1"/>
    <add key="encrPss" value="tMtyUKP2YxWUoXz50S97"/>
    <add key="CONNECTIONSTRING" value="Server=PC-STEPH\SQLEXPRESS;Database=VEGBUSINESS;User Id=sa;Password=dev2020*;"/>
  </appSettings>
</configuration>